body{
	cursor: default;
	font-size: 1.2em;
}
.popover {
	max-width:	450px;
}
.footer{ text-align:center;}

#refresh{
	color:		white;
	min-width:	34px;
	text-align:	center;
	display:block;
	float: right;
}

.container {
	width:100%;
	padding-left: 50px;
}

@media (min-width: 1800px){
	.container {
		width: 1700px;
	}
	.span4 {
		width: 545px;
	}	
}
@media (min-width: 980px){
	body {
		padding-top: 60px;
	}
}

th.success {
	background-color:#468847 !important;
}

th.info {
	background-color:#3a87ad !important;
}

th.important {
	background-color:#b94a48 !important;
}

th.inverse {
	background-color:#fcf8e3 !important;
}

th.error {
	background-color:#f2dede !important;
}


