body{
	cursor: default;
}
.popover {
	max-width:	450px;
}
.footer{ text-align:center;}

#refresh{
	color:		white;
	min-width:	34px;
	text-align:	center;
	display:block;
	float: right;
}

@media (min-width: 1800px){
	.container {
		width: 1700px;
	}
	.span4 {
		width: 545px;
	}	
}
@media (min-width: 980px){
	body {
		padding-top: 60px;
	}
}


